<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Стартовая страница</title>
</head>

<body>
<div th:if="${userRole} == ROLE_ADMIN">
    <p>Ваш уровень прав позволяет просматривать:</p>
    <a href="/users">Список всех аккаунтов</a>
    <br>
    <form th:action="@{/logout}" th:method="POST">
        <button type="submit">Logout</button>
    </form>

</div>

<div th:if="${userRole} == ROLE_USER">
    <p>Ваш уровень прав позволяет:</p>
    <p>Ничего, ты в России</p>
    <br>

    <form th:action="@{/logout}" th:method="POST">
        <button type="submit">Logout</button>
    </form>
</div>


<div th:if="${userRole} == null">
    <p>Вы не зарегестрированны</p>
    <a href="/login">Вход</a>
    <br>
    <a href="/register">Регистрация</a>
</div>
</body>

</html>