<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Аутентификации</title>
</head>

<body>


<div th:if="${param.error}">
    <div style="color:red">Неправильный логин или пароль</div>
</div>


<form method="post" th:action="@{/login}">

    <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}" >

    <label> Почта</label>
    <input type="text" id="username" name="username" placeholder="Введите имя"/>

    <label> Парль</label>
    <input type="password" id="password" name="password" placeholder="Введите пароль"/>

    <button type="submit">Подтвердить</button>

</form>

<form action="/register" target="_blank">
    <button>Регистрация</button>
</form>

</body>

</html>