<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>

<body>


    <h2 class="text-center">Регистрация</h2>


    <form method="post" role="form" th:action="@{/register/save}" th:object="${user}">

        <label>Имя</label>
        <input id="username" name="username" placeholder="Введите имя" th:field="*{username}" type="text" />
        <p th:errors="*{username}" class="text-danger" th:if="${#fields.hasErrors('username')}">
        </p>

        <label>Email</label>
        <input id="email" name="email" placeholder="Enter email address" th:field="*{email}" type="email" />
        <p th:errors="*{email}" class="text-danger" th:if="${#fields.hasErrors('email')}"></p>

        <label>Пароль</label>
        <input id="password" name="password" placeholder="Enter password" th:field="*{password}" type="password" />
        <p th:errors="*{password}" class="text-danger" th:if="${#fields.hasErrors('password')}"></p>

        <button class="btn btn-primary" type="submit">Регистроация</button>

    </form>


</body>

</html>